.columns
  .column
    .info-row
      .info-cell(data-i18n="tradeModule.GeneralInfoFields.PromotionStartDate")
      .info-cell.value.trade-module-promotion-start-date
    .info-row
      .info-cell(data-i18n="tradeModule.GeneralInfoFields.PromotionEndDate")
      .info-cell.value.trade-module-promotion-end-date
    .info-row
      .info-cell(data-i18n="tradeModule.GeneralInfoFields.Contract")
      .info-cell.value.trade-module-contract
    .info-row
      .info-cell(data-i18n="tradeModule.GeneralInfoFields.Objectives")
      .info-cell.value.trade-module-objectives
  .column
    .info-row
      .info-cell.break-before(data-i18n="tradeModule.GeneralInfoFields.NumberOfPharmacies")
      .info-cell.value.trade-module-number-of-pharmacies
    .info-row
      .info-cell(data-i18n="tradeModule.GeneralInfoFields.RecordType")
      .info-cell.value.trade-module-mobile-record-type
    .info-row
      .info-cell(data-i18n="tradeModule.GeneralInfoFields.Status")
      .info-cell.value.trade-module-status
    .info-row
      .info-cell(data-i18n="tradeModule.GeneralInfoFields.Description")
      .info-cell.value.trade-module-description