.trade-scroll-wrapper
  .trade-scroll-content(data-strict-height=true)
    .trade-module-promotion-header
      span(data-i18n="tradeModule.GeneralInfoFields.Promotion")
      |&nbsp;
      .promotion-name-wrapper
        .promotion-name