.col.v-centered.h-centered.checkbox-cell
    input.check-box(type='checkbox')
.col.hyperlink.v-centered.contact-cell
    .ellipsis.contact
.col.hyperlink.v-centered.organization-cell
    .ellipsis.organization
.col.v-centered.h-centered
    .ellipsis.at-calls
.col.v-centered.h-centered
    .ellipsis.last-call
.col.v-centered.h-centered
    .ellipsis.priority
.col.v-centered.h-centered
    .ellipsis.visit-order
.col.v-centered.h-centered
    .ellipsis.visit-time-info