.col.v-centered
  .ellipsis.account-name
.col.v-centered
  .ellipsis.account-record-type
.col.v-centered
  .ellipsis.specialty
.col.v-centered.h-centered
  .ellipsis.global-priority
.col.v-centered
  .ellipsis.city
.col.v-centered
  .ellipsis.billing-address
.col.v-centered
  .ellipsis.phone