.col.v-centered
    .ellipsis.med-rep
.col.v-centered.h-centered
    .ellipsis.type
.col.v-centered.h-centered
    .all-day.check-box
.col.v-centered.h-centered
    .ellipsis.start-date
.col.v-centered.h-centered
    .ellipsis.end-date
.col.v-centered.events-cell
    .events