table.card-table.references
  colgroup
    col
    col
    col
    col
  thead
    tr
      th(data-i18n="common:names.Primary")
      th(data-i18n="common:names.Appt")
      th(data-i18n="common:names.CallReport")
      th(data-i18n="common:names.Customer")
  tbody