.col.v-centered.h-centered
    img.icon(src='#{presentation.iconPath}')
.general.col.h-centered
  p.pr-name #{presentation.name}
  p.pr-version Version &#32;
    span.currentVersion #{presentation.currentVersion}
    span &#32; is downloaded
.progress.col.h-centered
  p.progress-bar
.size.col.h-centered
  div
    span.current-size 0
    span &#32; Mb of &#32;
    span.total-size total
    span &#32; Mb
.col.v-centered.buttons-panel


