.col.v-centered.h-centered
    .ellipsis.date-time
.col.v-centered.hyperlink.appointments-contact-cell
    .ellipsis.customer
.col.v-centered
    .ellipsis.specialty
.col.v-centered.h-centered
    .ellipsis.priority
.col.v-centered.hyperlink.appointments-organization-cell
    .ellipsis.organization
.col.v-centered
    .ellipsis.user
.col.v-centered.h-centered
    .ellipsis.at-calls