.wrapper.flex-element
  .scroll-content
    .general-info
      .columns.with-separator
        .column
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.User")
            .info-cell.value.tot-card-user
          .info-row
            .info-cell(data-i18n="card.Tot.AllDay")
            .info-cell.value
              input.check-box.check-all-day(type="checkbox")
          .info-row
            .info-cell.morning(data-i18n="card.Tot.FirstPart")
            .info-cell.value
              button.select-btn.first-quarter-btn
                span.first-quarter(data-i18n="common:defaultSelectValue")
          .info-row.may-hide
            .info-cell(data-i18n="card.Tot.SecondPart")
            .info-cell.value
              button.select-btn.second-quarter-btn
                span.second-quarter(data-i18n="common:defaultSelectValue")
        .column
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.StartDate")
            .info-cell.value.tot-card-start-date.bit-button-pseudo.calendar
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.EndDate")
            .info-cell.value.tot-card-end-date.bit-button-pseudo.calendar
          .info-row
            .info-cell.afternoon(data-i18n="card.Tot.ThirdPart")
            .info-cell.value
              button.select-btn.third-quarter-btn
                span.third-quarter(data-i18n="common:defaultSelectValue")
          .info-row.may-hide
            .info-cell(data-i18n="card.Tot.ForthPart")
            .info-cell.value
              button.select-btn.fourth-quarter-btn
                span.fourth-quarter(data-i18n="common:defaultSelectValue")
      .comment-block
        h2.blue-header(data-i18n="card.GeneralInfoFields.Description")
        textarea.call-comments.text-area(rows="1",data-i18n="[data-placeholder]card.Tot.Placeholder")