table.card-table.header-table
  colgroup
    col
    col
    col
    col
    col
    col
    col
  thead
    tr
      th(data-i18n="patientProfilePopup.Header.Name")
      th(data-i18n="patientProfilePopup.Header.Age")
      th(data-i18n="patientProfilePopup.Header.Gender")
      th(data-i18n="patientProfilePopup.Header.GeneralHealth")
      th(data-i18n="patientProfilePopup.Header.Occupation")
      th(data-i18n="patientProfilePopup.Header.BMI")
      th(data-i18n="patientProfilePopup.Header.Diseases")
.scroll-container
  .scroll-content
    table.card-table.body-table
      colgroup
        col
        col
        col
        col
        col
        col
        col
      tbody