.device-info
	.info-item
		p.cell.caption(data-i18n="helpdesk.InfoPanel.DeviceId")
		p.cell.value #{device.id}
	.info-item
		p.cell.caption(data-i18n="helpdesk.InfoPanel.Version")
		p.cell.value #{device.appVersion}
	.info-item
		p.cell.caption(data-i18n="helpdesk.OSVersion")
		p.cell.value #{device.osVersion}
	.info-item
		p.cell.caption(data-i18n="helpdesk.InfoPanel.Model")
		p.cell.value #{device.model}