.wrapper.flex-element
	.helpdesk-container
		.actions-panel
			.action.call
				.icon
				.title
					p(data-i18n="helpdesk.CallCenter")
					p.phone-number(data-i18n="helpdesk.PhoneNumber")
			.action.view-log
				.icon
				.title(data-i18n="helpdesk.ViewLastLog")
			.action.send-log
				.icon
				.title(data-i18n="helpdesk.SendLogToSupport")
			.action.clear-data
				.icon
				.title(data-i18n="helpdesk.ClearDatabase")
		.main-area
			.data-container
