header
  img.logo(src="img/home/new/logo.png")
  h1(data-i18n="home.Title")
  span(class="last-sync-date")
  button.sync

nav
  ul
    li
      a.contacts
        span(data-i18n="home.Contacts")
      a.tour-planning
        span(data-i18n="home.TourPlanning")
    li
      a.activities
        span(data-i18n="home.Activities")
      a.tots
        span(data-i18n="home.TimeOffTerritory")
    li
      a.media
        span(data-i18n="home.Media")
      a.organizations
        span(data-i18n="home.Organizations")
    li.hidden
      a.dinamic-agenda

footer
  ul.closest-calls
    li.first
      p.name
      p
        span.day.bit-button-pseudo.calendar
        span.time.bit-button-pseudo

    li.second
      p.name
      p
        span.day.bit-button-pseudo.calendar
        span.time.bit-button-pseudo

  div.info
    .icon
    span(data-i18n="home.Info")
