.cell-wrapper
	.col.v-centered
		.ellipsis.name
	.col.h-centered.v-centered.openContainer
		.ctrl-btn.open.centered(data-i18n="common:buttons.Open")
	.col.h-centered.v-centered.delete-btn-wrapper
		.ctrl-btn.delete.centered(data-i18n="common:buttons.DeleteBtn")