.scenarios-grid-view-cell-content
  .scenarios-grid-view-cell-title-wrapper
    .scenarios-grid-view-cell-title.ellipsis
  .scenarios-grid-view-cell-icon
    .scenarios-grid-view-cell-remove
  .scenarios-grid-view-cell-name-wrapper
    .scenarios-grid-view-cell-name.ellipsis