li(data-action='alarm')
	.alarm
	span(data-i18n="homeMenu.Alarm")
li(data-action='helpdesk')
	.helpdesk
	span(data-i18n="homeMenu.Helpdesk")
li(data-action='language')
	.language
	span(data-i18n="homeMenu.Language")
li(data-action='dynamicAgenda')
	.dynamicAgenda
	span(data-i18n="homeMenu.DynamicAgenda")
li(data-action='lock')
	.lock
	span(data-i18n="homeMenu.Lock")
li(data-action='logout')
	.logout
	span(data-i18n="homeMenu.Logout")