.placeholder(data-i18n="searchView.Placeholder")
textarea(class="input",align="top",rows="1")

.btnCancel
   span(data-i18n="common:buttons.CancelBtn")

.btnSearch
   span(data-i18n="searchView.SearchBtn")




