div.col.v-centered.h-centered
    div.ellipsis.date-time
div.col.v-centered.hyperlink.calls-contact-cell
    div.ellipsis.customer
div.col.v-centered
    div.ellipsis.specialty
div.col.v-centered.h-centered
    div.ellipsis.priority
div.col.v-centered
    div.ellipsis.user
div.col.v-centered.h-centered
    div.ellipsis.at-calls