table.card-table.activity
  colgroup
    col
    col
    col
    col
    col
  thead
    tr
      th(data-i18n="common:names.Type")
      th(data-i18n="common:names.Date")
      th(data-i18n="common:names.Time")
      th(data-i18n="common:names.User")
      th(data-i18n="common:names.NextCallObjectives")
  tbody