p.placeholder
  span(data-i18n="pin.Placeholder.Pin")
  input.pin.new-pin(type='tel')
p.placeholder
  span(data-i18n="pin.Placeholder.ConfirmPin")
  input.pin.confirm-pin(type='tel')
.confirm(data-i18n="common:buttons.OkBtn")