.general-info
  h5
  dl
    dt(data-i18n="common:names.StartDate")
    dd.start-date
    dt(data-i18n="common:names.EndDate")
    dd.end-date
  dl
    dt.contact(data-i18n="common:names.Contract")
    dd.lage-column
      span.contact-number
  dl
    dt(data-i18n="common:names.Objectives")
    dd.lage-column
      span.objectives
  dl
    dt(data-i18n="common:names.Description")
    dd.lage-column
      span.description

.segments-holder.scroll-container

footer