.popup-wrapper
  .popup-container
    .popup-content-holder
      .popup-main-content-holder
        header
          h3
            span.user-name
            span &nbsp;-&nbsp;
            span.promo(data-i18n="PromotionPopup.Header")
          button.cross
        .content-container
        .buttons-section

      .note-holder
        header
          button.back(data-i18n="common:buttons.Back")
          h6
        .scroll-container
          p.note-body.scroll-content