table.card-table.header-table
  thead
    tr
      th
      th(data-i18n="common:names.Type")
      th(data-i18n="common:names.Title")
      th(data-i18n="common:names.LastModify")
      th(data-i18n="common:names.AttachedBy")
.scroll-container
  .scroll-content
    table.card-table.body-table
      tbody