.contacts
  .col
    &:first-of-type
      width 18%
    &:nth-of-type(2)
      width 7%
      padding-left 0.1em
    &:nth-of-type(3)
      width 8%
      padding-left 0.1em  
    &:nth-of-type(4)
      width 13%
    &:nth-of-type(5)
      width 7%
    &:nth-of-type(6)
      width 14%
    &:nth-of-type(7)
      width 21%
    &:nth-of-type(8)
      padding 0
      width 6%
    &:nth-of-type(9)
      padding 0
      width 6.5%
    &:not(.visible)
      .bit-button
        opacity 0
    .bit-button
      &:active
        position relative
        z-index 3
        box-shadow 0 0 6px white