@import './mixin'
@import './fonts'
@import './control-elements'
@import './progress-bar'
@import './general-info'
@import './home'
@import './header'
// lazy-table
@import './table-view'
@import './attendees'
@import './users'
@import './pharma-events'
@import './tour-planning'
@import './tots'
// end lazy-table
@import './contact-card'
@import './contacts-table'
@import './organizations-table'
@import './popup'
@import './search'
@import './flex'
@import './sort-filter'
@import './appointments'
@import './calls'
@import './appointment-card'
@import './call-report-card'
@import './call-report-card-profiles'
@import './comment'
@import './organization-card'
@import './spinningwheel'
@import './toast'
@import './helpdesk'
@import './bottom-menu'
@import './pin'
@import './tot-card'
@import './pe-card'
@import './image-preload'
@import './android-view-resizer'
@import './cards-table'
@import './cards-common'
@import './media'
@import './theme'
@import './tabbar'
@import './presentation-view'
@import './scenarios'
@import './main-styles'
/* Dynamic Agenda */
@import './scenario-details'
@import './scenarios-grid-view'
/* Trade Module */
@import './promotion-popup'
@import './promotion-note-popup'
@import './trade-module'
@import './skus'
@import './promotion-tasks'
@import './tactics'
@import './photos-grid-view'
@import './notes'
@import './file-icon'
@import './simple-popup'
@import './patient-profiles-popup'
@import './ghost-click-preventer'
