.promotion-note-popup

  .popup-container
    width 70%
    height 60%

    header
      font-size 1.2em
      font-weight 500
      height 15%
      h3
        display -webkit-box
        -webkit-box-flex 1
        max-height 2em
        -webkit-box-pack center

  .content-container
    padding 1em
    height 85%
    box-sizing border-box
    .scroll-container
      height 100%