.all-day-checked .second-quarter-btn,
.all-day-checked .third-quarter-btn,
.all-day-checked .fourth-quarter-btn
.view-mode .select-btn
  border-color rgba(0, 0, 0, 0.2)
  background-color rgba(0, 0, 0, 0.04)
  pointer-events none
  color #808080
  &:after
    border-color transparent

.card.tot
  .check-all-day
    pointer-events auto

  &.morning-afternoon
    .info-row.may-hide
      display none
  .comment-block
    .text-area
      min-height 4em