.col.v-centered
  .ellipsis.contact
.col.v-centered.h-centered
  .ellipsis.priority
.col.v-centered
  .ellipsis.Specialty
.col.v-centered
  .ellipsis.BUSpecialty
.col.v-centered.h-centered
  .ellipsis.at-calls
.col.v-centered.h-centered
  .ellipsis.last-call
.col.contact-organization-cell.hyperlink.v-centered
  .ellipsis.organization
.col.appt.h-centered.v-centered
  .bit-button.clock.centered
.col.call-report.h-centered.v-centered
  .bit-button.phone.centered