.placeholder(data-i18n="commentView.Placeholder")
textarea(class="input",align="top",rows="1")

.btnCancel
   span(data-i18n="common:buttons.CancelBtn")

.btnDone
   span(data-i18n="common:buttons.DoneBtn")




