.col.v-centered.h-centered
    .ellipsis.status
.col.v-centered
    .ellipsis.owner
.col.v-centered
    .ellipsis.event-name
.col.v-centered.h-centered
    .ellipsis.type-of-event
.col.v-centered
    .ellipsis.stage
.col.v-centered.h-centered
    .ellipsis.start-date
.col.v-centered
    .ellipsis.location