.wrapper.flex-element
  .scroll-content
    .general-info
      .columns.with-separator
        .column
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Customer")
            .info-cell.value.appointments-card-customer.hyperlink
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Organization")
            .info-cell.value.appointments-card-organization.hyperlink
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.JointVisit")
            .info-cell.value
              button.select-btn
                span.appointments-card-joint-visit(data-i18n="common:defaultSelectValue")
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.JointVisitUser")
            .info-cell.text-field-block.appointments-card-joint-visit-user.placeholder(data-i18n="card.GeneralInfoFields.JointVisitUserPlaceholder")
        .column
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Specialty")
            .info-cell.value.appointments-card-speciality
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.User")
            .info-cell.value.appointments-card-user
          .info-row.appointments-card-date-time-wrapper
            .info-cell(data-i18n="card.GeneralInfoFields.DateTime")
            .info-cell.value.appointments-card-date-time.bit-button-pseudo.calendar
          .info-row.appointments-card-duration-wrapper
            .info-cell(data-i18n="card.GeneralInfoFields.Duration")
            .info-cell.value.appointments-card-duration.bit-button-pseudo.calendar
      .comment-block
        h2.blue-header(data-i18n="card.GeneralInfoFields.CallComments")
        textarea.call-comments.text-area(rows="1",data-i18n="[data-placeholder]commentView.Placeholder",disabled=true)