table.card-table.header-table
  thead
    tr
      th(data-i18n="common:names.Name")
      th(data-i18n="common:names.Value")
.scroll-container
  .scroll-content
    table.card-table.body-table
      tbody