.wrapper.flex-element
  .scroll-content
    .general-info
      .columns.with-separator
        .column
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Customer")
            .info-cell.value.call-report-card-customer.hyperlink
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Organization")
            .info-cell.value.call-report-card-organization.hyperlink
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.JointVisit")
            .info-cell.value
              button.select-btn
                span.call-report-card-joint-visit(data-i18n="common:defaultSelectValue")
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.JointVisitUser")
            .info-cell.text-field-block.call-report-card-joint-visit-user.placeholder(rows="1",data-i18n="card.GeneralInfoFields.JointVisitUserPlaceholder")
          .info-row.type-of-visit
            .info-cell(data-i18n="card.GeneralInfoFields.TypeOfVisit")
            .info-cell.value
              button.select-btn
                span.call-report-card-type-of-visit(data-i18n="common:defaultSelectValue")
        .column
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Specialty")
            .info-cell.value.call-report-card-speciality
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.User")
            .info-cell.value.call-report-card-user
          .info-row.call-report-card-date-time-wrapper
            .info-cell(data-i18n="card.GeneralInfoFields.DateTime")
            .info-cell.value.call-report-card-date-time.bit-button-pseudo.calendar
          .info-row.call-report-card-duration-wrapper
            .info-cell(data-i18n="card.GeneralInfoFields.Duration")
            .info-cell.value.call-report-card-duration.bit-button-pseudo.calendar
          .info-row.signature
            .info-cell(data-i18n="card.GeneralInfoFields.Signature")
            .info-cell.value
              img.call-report-card-signature
      .comments-group
        .comment-block.left
          h2.blue-header(data-i18n="card.GeneralInfoFields.CallComments")
          textarea.call-comments.text-area(data-i18n="[data-placeholder]commentView.Placeholder")
        .comment-block.right
          h2.blue-header(data-i18n="card.GeneralInfoFields.NextCallObjectives")
          textarea.call-objectives.text-area(data-i18n="[data-placeholder]commentView.Placeholder")