.wrapper.flex-element
  .scroll-content
    .general-info
      .columns.with-separator
        .column
          .info-row.call-report-card-date-time-wrapper
            .info-cell(data-i18n="card.GeneralInfoFields.DateTime")
            .info-cell.value.call-report-card-date-time.calendar
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Organization")
            .info-cell.value.call-report-card-organization.hyperlink
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Customer")
            .info-cell.value.call-report-card-customer.hyperlink
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Specialty")
            .info-cell.value.call-report-card-speciality
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.Type")
            .info-cell.value.call-report-card-type
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.User")
            .info-cell.value.call-report-card-user
        .column
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.TargetCustomer")
            .info-cell.value.call-report-card-target-customer
          .info-row
            .info-cell(data-i18n="card.CallReport.GeneralInfoFields.TargetPriority")
            .info-cell.value.call-report-card-target-prority
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.JointVisit")
            .info-cell.value.call-report-card-joint-visit
          .info-row
            .info-cell(data-i18n="card.GeneralInfoFields.JointVisitUser")
            .info-cell.value.call-report-card-joint-visit-user
          .info-row.signature-taken
            .info-cell(data-i18n="card.GeneralInfoFields.SignatureTaken")
            .info-cell.value.call-report-card-signature-date
          .info-row.type-of-visit
            .info-cell(data-i18n="card.GeneralInfoFields.TypeOfVisit")
            .info-cell.value.call-report-card-type-of-visit
      .comments-group
        .comment-block.left
          h2.blue-header(data-i18n="card.GeneralInfoFields.CallComments")
          .scroll-container
            .scroll-content
              p.call-comments
        .comment-block.right
          h2.blue-header(data-i18n="card.GeneralInfoFields.NextCallObjectives")
          .scroll-container
            .scroll-content
              p.call-objectives