tr.product-general-block
  td
    .call-report-card-control-wrapper
      .call-report-card-expand-btn-wrapper
        button.call-report-card-expand-btn
      button.call-report-card-product-list-btn.select-btn
  td
    textarea.call-report-card-product-comment.text-field-block(rows="1",data-placehoder='&nbsp;')
tr.product-expand-block
  td
    .td-content-wrapper
      .product-expand-wrapper
        .product-message-block
          p(data-i18n="card.CallReport.Product.MarketingMessage1")
          p(data-i18n="card.CallReport.Product.MarketingMessage2")
          p(data-i18n="card.CallReport.Product.MarketingMessage3")
        .product-promotion-item
          p(data-i18n="card.CallReport.Product.PromotionalItem")
  td
    .td-content-wrapper
      .product-expand-wrapper
        .product-message-block
          button.call-report-card-message-list-btn.select-btn.message-1
          button.call-report-card-message-list-btn.select-btn.message-2
          button.call-report-card-message-list-btn.select-btn.message-3
        .product-promotion-item
          input(type="checkbox").promotion-item.check-box